html {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

.hero {
  background-image: url(../../resources/images/the-flatiron-building.png);
  color: white;
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.nav-button {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.hero h2 {
  font-size: 23px;
}
